<html>
<head>
<title>Enter</title>

</head>
<body>
    <form action="/processing" method="post">
    <label for="Name">Name</label>
      <input type="text" name="txt1">
      <label for="phone">Phone</label>
      <input type="text" name="txt2">

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include('header') %>
   
</body>
</html>